* {
    margin: 0;
    
}
html, body {
    height: 100%;
}

body {
    display: flex;
    background: #c7b198;
}
.col-md-2 {
    background: #30231d;
    font-size: medium;
    height:100%;
    position:fixed;
}
    .col-md-2 h1 {
        color: #c7b198
    }

a:link {
    color: #c7b198;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #c7b198;
}

.col-md-10 {
    
    color: #30231d;
    font-size: medium;
    margin-left: 225px;
    margin-bottom: 0;
    display: inline-block;
}

