<body>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Ögrenci Numarası">
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <table class="table" id="table">
        <tr>
            <th>Numarası</th>
            <th>Ögrenci Adı</th>
            <th>Ders Adı</th>
            <th>Vize</th>
            <th>Final</th>
            <th>Büt</th>
            <th ng-style="disableTagButton13">İşlemler</th>
        </tr>
        <tr ng-repeat="x in notlar">
            <td>{{x.OgrenciNumarasi}}</td>
            <td>{{x.OgrenciAdi}}</td>
            <td>{{x.DersAdi}}</td>
            <td>{{x.Vize}}</td>
            <td>{{x.Final}}</td>
            <td>{{x.But}}</td>
            <td>
                <button ng-style="disableTagButton1" class="btn btn-danger" ng-click="NotSil(x.NID)">Not SİL</button>
                <button ng-style="disableTagButton2" class="btn btn-success" ng-click="NotGuncelle(x)">Güncelle</button>
            </td>
        </tr>
    </table><hr />

    <table>
        <button ng-style="disableTagButton" class="btn btn-success" onClick="location.href='/NotForm.aspx'">Not Kaydet Sayfasına Yönlendir</button>
    </table>


    <input ng-style="disableTagButton6" type="text" ng-model="Note.OgrenciNumarasi" placeholder="Ögrenci Numarası" /><br />
    <input ng-style="disableTagButton7" type="text" ng-model="Note.OgrenciAdi" placeholder="Ögrenci Adı" /><br />
    <input ng-style="disableTagButton8" type="text" ng-model="Note.DersAdi" placeholder="Ders Adi" /><br />
    <input ng-style="disableTagButton9" type="text" ng-model="Note.Vize" placeholder="Vize" /><br />
    <input ng-style="disableTagButton10" type="text" ng-model="Note.Final" placeholder="Final" /><br />
    <input ng-style="disableTagButton12" type="text" ng-model="Note.But" placeholder="Büt" /><br />
    <button ng-style="disableTagButton11" ng-click="Guncelle(Note)">Güncelle</button>

</body>
