<!DOCTYPE HTML>
<html>
<head></head>
<body>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Başlık Adı">
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <table class="table" id="table">
        <tr>
            <th>Başlık</th>
            <th>Konu</th>
            <th>İçerik</th>
            <th>Tarih</th>
            <th ng-style="disableTagButton3">İşlemler</th>

        </tr>
        <tr ng-repeat="x in icerikler">
            <td>{{x.Baslik}}</td>
            <td>{{x.Konu}}</td>
            <td>{{x.Icerik}}</td>
            <td>{{x.YayinlanmaTarihi}}</td>

            <td>

                <button ng-style="disableTagButton2" class="btn btn-danger" ng-click="DuyuruSil(x.ANID)">SİL</button>
                <button ng-style="disableTagButton9" class="btn btn-success" ng-click="DuyuruGuncelle(x)">Güncelle</button>
            </td>
        </tr>
    </table><hr />

    <table>
        <button ng-style="disableTagButton" class="btn btn-success" onClick="location.href='Paylasilanİcerik.aspx'">Duyuru Paylaş Sayfasına Yönlendir</button>
    </table>

    <input ng-style="disableTagButton6" type="text" ng-model="Announcement.Baslik" placeholder="Başlık" /><br />
    <input ng-style="disableTagButton7" type="text" ng-model="Announcement.Konu" placeholder= "Konu" /><br />
    <input ng-style="disableTagButton8" type="text" ng-model="Announcement.Icerik" placeholder="İçerik" /><br />
    <button ng-style="disableTagButton11" ng-click="Guncelle(Announcement)">Güncelle</button>
</body>
</html>

